:root {
  --nav-bg-color: #fff;
  --main-bg-color: #fff;
  --sub-bg-color: #BBC5C9;
  --heading-color: #285FA8;
  --text-color: #474B4F;
  --extra-color: #3C3B45;
  --shadow-color: rgba(60, 59, 69, 0.5);
}

html, body {
  background-color: var(--main-bg-color);
  font-size: 16px;
  font-family: "Poppins", arial, sans-serif;
  color: var(--text-color);

}
@media only screen and (max-width: 480px), only screen and (max-height: 750px) {
  html, body {
    font-size: 13px;
  }
}
@font-face {
  font-family: font-awesome;
  src: url(../../resources/fonts/fontawesome-webfont.woff2);
}
a {
  text-decoration: none;
  color: var(--text-color);
  margin: 0;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 0.9rem;
  margin: 0;
}

h1 {
  font-size: 4rem;
  margin: 0;
  color: var(--heading-color);
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  margin: 0;
  font-weight: 500;
  color: var(--heading-color);
}

h3 {
  font-size: 1.5rem;
  margin: 0;
  color: var(--heading-color);
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
  margin: 0;
}
.full-screen-height {
  height: 100vh
}
.offscreen {
  left: 3000px;
}
.onscreen {
  left: 0;
}
.display {
  opacity: 1;
  visibility: visible;
  transition: all 0.75s ease-in-out;
}
.no-display {
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s ease-in-out;
}
.flex {
  display: flex;
}
.inactive {
  display: none;
}
.active {
  display: block;
}

/*nav bar rules*/
nav {
  position: fixed;
  width: 100%;
  height: 40px;

  background-color: var(--nav-bg-color);
  box-shadow: 0 0 4px 2px var(--shadow-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 50;
}

.logo {
  margin-left: 1rem;
  position: absolute;

  font-weight: 500;
}
@media only screen and (max-width: 600px) {
  .logo {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 374px) {
  .logo {
    display: none;
  }
}

header {
  width: 100%;

  display: flex;
  justify-content: center;

}
header .nav-link {
  width: 5rem;
  height: 38px;

  font-weight: 500;

  margin: 0 0.25rem;
  border-bottom: 2px solid #285FA8;

  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  display: flex;
  align-items: center;
  z-index: 45;
}

/*navigation color slide on hover*/
.slide {
  position: absolute;
  top: 40px;

  width: 5rem;
  height: 0;

  background-color: var(--heading-color);

  transition: all 1s ease-in-out;

  z-index: 40;
}
.nav-link:hover .slide{
  height: 40px;
  top: 0;
}

.nav-link:hover a {
  color: var(--main-bg-color);
  text-decoration: none;

  transition: all 0.75s ease-in-out;

  z-index: 45;
}
.nav-link a:focus {
  color: inherit;
  text-decoration: none;
}
/* container rules */
.container {
  width: 45%;
  max-width: 576px;

  margin: auto;

  flex-direction: column;

  line-height: 1.2;
}
.title-container {
  margin-left: 40px;
}
.text-container {
  margin: 0 40px;
}
.projects-container {
  position: relative;
  height: 1000px;
}
.project-container {
  position: absolute;
}
/* dim changers*/
.half-height {
  height: 50%;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
/* banner rules */
#banner .container {
  justify-content: center;
}
#banner h2 {
  color: var(--text-color);
}

/* portfolio rules */
#portfolio {
  overflow: hidden;
}

#portfolio .container {
  background-color: var(--sub-bg-color);
  justify-content: flex-start;
  box-shadow: 4px 8px 8px 2px rgba(60, 59, 69, 0.5);
  margin-bottom: 40px;
}
#portfolio h1 {
  margin-top: 24px;
}

.category {
  margin: 16px 0;

  flex-direction: column;
}
.project-container {
  width: 100%;
  height: 100%;

  flex-direction: column;
  align-items: center;
}
.image {
  max-height: 80vh;
  width: auto;
  position: relative;

  transition: all 2s;

  box-shadow: 4px 8px 16px 2px rgba(60, 59, 69, 0.5);
}
.offset-right {
  justify-content: flex-start;
  position: relative;
  right: 40px;
}
.offset-left {
  justify-content: flex-end;
  position: relative;
  left: 40px;
}
.image-container {
  width: 100%;
}
.image-overlay {
  width: 100%;
  margin-bottom: 16px;
}

.button-container {
  margin: 0 36px 8px;

  flex-wrap: wrap;
  justify-content: flex-start;
}
.button {
  width: 64px;
  height: 64px;
  margin: 4px;
  background-color: var(--extra-color);
  cursor: pointer;
}
