/*Universal Rules*/
html, body {
  background-color: #fff;
  font-size: 16px;
  font-family: "Poppins", arial, sans-serif;
  color: #474B4F;
}
@media only screen and (max-width: 480px), only screen and (max-height: 750px) {
  html, body {
    font-size: 13px;
  }
}

a {
  text-decoration: none;
  color: #474B4F;
  margin: 0;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 0.75rem;
  margin: 0;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1.2rem;
  margin: 0;
}

h4 {
  font-size: 0.8rem;
  margin: 0;
}

.title-container {
  padding-top: 1rem;
  margin-left: 4.25rem;
}
@media only screen and (max-width: 480px), only screen and (max-height: 750px) {
  .title-container {
    padding-top: 0.25rem;
    margin-left: 1rem;

  }
}
.title-container h1 {
  color: #285FA8;
}


/*navigation section*/
nav {
  position: fixed;
  width: 100%;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(60, 59, 69, 0.7);
  z-index: 50;
}

.logo {
  margin-left: 4.5rem;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .logo {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 374px) {
  .logo {
    display: none;
  }
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .nav-link {
  width: 5rem;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #285FA8;
  margin: 0 0.25rem;
  box-sizing: content-box;
}
header a {
  z-index: 45;
  display: flex;
  align-items: center;
}
header h3 {
  width: 100%;
  text-align: center;
}

/*navigation color slide on hover*/
.slide {
  position: absolute;
  top: 40px;
  width: 5rem;
  height: 0;
  background-color: #285FA8;
  z-index: 40;
  transition: all 1s ease-in-out;
}
.nav-link:hover .slide{
  height: 40px;
  top: 0;
}

.nav-link:hover a {
  color: #fff;
  transition: all 0.75s ease-in-out;
  z-index: 45;
  text-decoration: none;
}
.nav-link a:focus {
  text-decoration: none;
  color: inherit;
}
/*#contact rules*/
#contact {
  display: none;
  position: fixed;
  margin-top: 40px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(60, 59, 69, 0.55);
  z-index: 30;
}

#contact-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.contact-link {
  margin: 0.5rem 0;
}

.link-break {
  display: inline;
}
.left-break {
  text-align: right;
  font-weight: bold;
  display: inline;
}
.right-break {
  display: inline;
}
.right-break a {
  width: 100%;
}
.right-break a:hover {
  text-decoration: underline;
}
#contact-close {
  position: relative;
  float: right;
  bottom: 0.5rem;
  right: 0.5rem;
}


/*#banner rules*/
#banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#banner .title-container {
  width: 45%;
}
@media only screen and (max-width: 480px), only screen and (max-height: 750px) {
  #banner .title-container {
    width: 60%;
  }
}

#about-container p {
  display: none;
}

#no-portrait {
  width: 25%;
  height: auto;
  margin-right: 5rem;
  display: none;
}

/*section for portfolio*/
#portfolio {
  position: relative;
  height: inherit;
  background-color: #BBC5C9;
  box-sizing: border-box;
  border-top: 40px solid white;
}

#categories {
  display: flex;
  padding: 0 4rem;
  width: 100%;
}
@media only screen and (max-width: 480px), only screen and (max-height: 750px) {
  #categories {
    padding: 0 2rem;
  }
}

.row {
  margin: 0;
  display: flex;
  overflow: hidden;
}

.row-two h3 {
  font-weight: 500;
}
.row-two h4 {
  margin-top: 0.25rem;
}
.category {
  background-color: #fff;
  border: 0.5rem solid #BBC5C9;
}
/*overlay rules*/
.image-overlays {
  position: absolute;
  z-index: 25;
}

.image-overlay {
  position: absolute;
  opacity: 0.9;
  color: #1D1C21;
  display: flex;
  flex-direction: column;
  background-color: #7E848C;
  padding: 4px;
  z-index: 25;
}

.image-overlay a {
  color: #22518F;
}
.image-overlay a:hover {
  text-decoration: underline;
}

.chevron-overlay-container {
  padding: 4px;
  padding-top: 2px;
  position: relative;
  right: 4px;
  background-color: #7E848C;
}

.fa-github {
  margin-left: 0.5rem;
}

.chevron-overlay-container p {
  display: none;
  padding: 0.25rem;
  padding-left: 4px;
}

/*image carousel rules*/
.portfolio-images {
  width: 100%;
  background-color: #3C3B45;
}

.slick-slide {
  margin: 0 500px;
}

.slick-slider, .slick-list, .slick-track {
  height: 100%;
}

.slick-prev {
  z-index: 20;
  top: 50%;
}
.slick-prev:before {
  color: #22518F;
}

.slick-next {
  z-index: 20;
  top: 50%;
}
.slick-next:before {
  color: #22518F;
}

.image {
  height: 100%;
  width: auto;
}
