/*Universal Rules*/
html, body {
  background-color: white;
  font-size: 16px;
  font-family: "Poppins", arial, sans-serif;
  color: grey;
}


a {
  text-decoration: none;
  color: grey;
  margin: 0;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 0.75rem;
  margin: 0;
}
@media only screen and (max-width: 480px), only screen and (max-height: 750px) {
  p {
    font-size: 0.5rem;
  }
}
h1 {
  font-size: 4rem;
  margin: 0;
}
@media only screen and (max-width: 480px), only screen and (max-height: 750px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 2rem;
  margin: 0;
}
@media only screen and (max-width: 480px), only screen and (max-height: 750px) {
  h2 {
    font-size: 1rem;
  }
}
h3 {
  font-size: 1rem;
  margin: 0;
}
@media only screen and (max-width: 480px), only screen and (max-height: 750px) {
  h3 {
    font-size: 0.5rem;
  }
}
.title-container {
  margin-left: 5rem;
  width: 45%;
}
.title-container h1 {
  color: blue;
}

/*navigation section*/
nav {
  position: fixed;
  width: 100%;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 4px 2px rgba(105,105,105,0.5);
  z-index: 4;
}
.logo {
  margin-left: 5rem;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .logo {
    margin-left: 1rem;
  }
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .nav-link {
  width: 5rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.2rem solid blue;
  margin: 0 .2rem;
  box-sizing: content-box;
}
header a {
  z-index: 10
  display: flex;
  align-items: center;
}
header h3 {
  width: 100%;
  text-align: center;
}

/*navigation color slide on hover*/
.slide {
  position: absolute;
  top: 2.5rem;
  width: 5rem;
  height: 0;
  background-color: blue;
  z-index: 5;
  transition: all 1s ease-in-out;
}
.nav-link:hover .slide{
  height: 2.5rem;
  top: 0;
}
.nav-link:hover a {
  color: white;
  transition: all 0.75s ease-in-out;
  z-index: 10;
  text-decoration: none;
}


/*section for banner*/
#banner {
  position: relative;
  height: 100vh;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
}

#portrait {
  width: 25%;
  height: auto;
  margin-right: 5rem;
}


/*section for portfolio*/
#portfolio {
  position: relative;
  height: 100vh;
  background-color: lightgrey;
  box-sizing: border-box;
}
@media only screen and (max-width: 850px) {
  #portfolio {
    height: inherit;
    padding-bottom: 1rem;
  }
}

#portfolio .title-container {
  padding-top: 3rem;
}

#categories {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  width: 100%;
}
@media only screen and (min-width: 1280px) {
  #categories {
    flex-direction: row;
  }
}
.row {
  width: 100%;
  margin: 0;
  display: flex;
}
@media only screen and (max-width: 850px) {
  .row {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1280px) {
  .row {
    width: 50%;
  }
}
.category {
  width: 50%;
  max-width: 340px;
  background-color: white;
  margin: 1rem;
}
@media only screen and (max-width: 850px) {
  .category {
    width: auto;
    max-width: none;
  }
}
@media only screen and (min-width: 1280px) {
  .category {
    max-width: none;
  }
}
